<div class="bg-light p-3 shadow-sm rounded-2">
  <div class="admin-main-header d-flex justify-content-between">
    <h3 class="admin-main-header-title fs-5 fw-bolder">All Order</h3>
    <div class="admin-main-header-btn d-flex align-items-center">
      <button
        class="btn btn-primary text-white fw-medium d-flex align-items-center gap-2"
      >
        Download All Order
      </button>
    </div>
  </div>
  <div class="d-flex gap-5">
    <div class="admin-main-search my-4">
      <div class="row g-3 align-items-center">
        <div class="col-auto ms-auto">
          <label for="admin-search-item" class="col-form-label">Search</label>
        </div>
        <div class="col-auto">
          <input
            ng-model="keyword"
            type="text"
            id="admin-search-item"
            class="form-control"
          />
        </div>
      </div>
    </div>
    <div class="admin-main-filterdate my-4">
      <div class="row g-3 align-items-center">
        <div class="col-auto ms-auto">
          <label for="admin-search-item" class="col-form-label"
            >Filter by Date:</label
          >
        </div>
        <div class="col-auto">
          <input
            type="datetime-local"
            class="form-control"
            id="filterDate"
            ng-model="dateFilter"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="admin-category">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="fw-semibold">Code</th>
            <th class="fw-semibold">Fullname</th>
            <th class="fw-semibold">Email</th>
            <th class="fw-semibold">Date</th>
            <th class="fw-semibold">TotalAmount</th>
            <th class="fw-semibold">CartItems</th>
            <th class="fw-semibold">PhoneNumber</th>
            <th class="fw-semibold">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="align-middle"
            ng-repeat="bill in bills | filter: {date: dateFilter} | search:keyword:['lastName','phoneNumber']| limitTo:limit:begin "
          >
            <td><code>{{bill.id}}</code></td>
            <td>{{bill.firstName}} {{bill.lastName}}</td>
            <th>{{bill.email}}</th>
            <td>{{bill.date}}</td>
            <td>{{bill.totalAmount | number : 0 }}VNĐ</td>
            <td>
              <span ng-repeat="item in bill.cartItems"
                >{{item.name}} x {{item.quantity}}
                <span ng-if="!$last">, </span></span
              >
            </td>
            <td>{{bill.phoneNumber}}</td>

            <td>
              <div class="handle-option d-flex align-items-center gap-2">
                <ion-icon
                  ng-click="billdetail(bill.id)"
                  data-bs-toggle="modal"
                  data-bs-target="#viewbill"
                  class="cursor"
                  class="fs-5 text-ind cursor"
                  name="eye-outline"
                ></ion-icon>
                <ion-icon
                  ng-click="confirmDeleteBill(bill)"
                  class="fs-5 text-danger cursor"
                  name="trash-outline"
                ></ion-icon>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <nav aria-label="..." class="d-flex justify-content-end">
    <ul class="pagination">
      <li class="page-item {{(page == 1) ? 'disabled':''}}">
        <button
          class="page-link text-border-color"
          ng-disabled="page === 1"
          ng-click="chuyentrang(page - 1)"
        >
          Previous
        </button>
      </li>

      <li
        ng-repeat="trang in totalListBill()"
        class="page-item"
        aria-current="page"
      >
        <button
          ng-class="{'active-color' :page==trang}"
          ng-click="chuyentrang(trang)"
          class="page-link text-border-color"
          href="#"
        >
          {{trang}}
        </button>
      </li>

      <li class="page-item {{(page == totalPageBill()) ? 'disabled':''}}">
        <button
          ng-disabled="page === totalPageBill()"
          ng-click="chuyentrang(page + 1)"
          class="page-link text-border-color"
          href="#"
        >
          Next
        </button>
      </li>
    </ul>
  </nav>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="viewbill"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Bill Your Information
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="bill-content">
          <div
            class="text-dark border-bottom border-2 border-border-color mb-2 name"
          >
            Họ tên: {{selectedBill.firstName}} {{selectedBill.lastName}}
          </div>
          <div
            class="text-dark border-bottom border-2 border-border-color mb-2 address"
          >
            Địa chỉ: {{ selectedBill.address }}, {{ selectedBill.tinh }}, {{
            selectedBill.huyen }}, {{ selectedBill.phuong }}
          </div>

          <div
            class="text-dark border-bottom border-2 border-border-color mb-2 email"
          >
            Email: {{selectedBill.email}}
          </div>
          <div
            class="text-dark border-bottom border-2 border-border-color mb-2 phone"
          >
            Phone: {{selectedBill.phoneNumber}}
          </div>
          <div
            class="text-dark border-bottom border-2 border-border-color mb-2 phone"
          >
            PhoneRec: {{selectedBill.phonenumberRec}}
          </div>
          <div
            class="text-dark border-bottom border-2 border-border-color mb-2 note"
          >
            Ghi chú: {{selectedBill.note}}
          </div>
          <div
            class="text-dark border-bottom border-2 border-border-color mb-2 receiver-name"
          >
            Họ tên người nhận: {{selectedBill.fullnameRec}}
          </div>
          <div
            class="text-dark border-bottom border-2 border-border-color mb-2 receiver-phone"
          >
            Số điện thoại người nhận: {{selectedBill.phonenumberRec}}
          </div>
          <div
            class="text-dark border-bottom border-2 border-border-color mb-2 receiver-address"
          >
            Địa chỉ nhận: {{selectedBill.tinhRec}} . {{selectedBill.huyenRec}} .
            {{selectedBill.phuongRec}}
          </div>
          <div
            ng-repeat="item in selectedBill.cartItems"
            class="text-dark border-bottom border-2 border-border-color mb-2 receiver-address"
          >
            Sản phẩm: {{item.name}}x{{item.quantity}}
          </div>
          <div
            class="text-dark border-bottom border-2 border-border-color mb-2 receiver-address"
          >
            Tổng tiền: {{selectedBill.totalAmount | number:0}} VNĐ
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary text-white"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
