<!-- MAIN  -->
<div class="bg-light p-3 shadow-sm rounded-2">
  <div class="admin-main-header d-flex justify-content-between">
    <h3 class="admin-main-header-title fs-5 fw-bolder">All Blog</h3>
    <div class="admin-main-header-btn d-flex align-items-center">
      <button
        data-bs-toggle="modal"
        data-bs-target="#roleAdd"
        class="btn btn-primary text-white fw-medium d-flex align-items-center gap-2"
      >
        <ion-icon class="fs-5" name="add"></ion-icon>
        Add New
      </button>
    </div>
  </div>
  <div class="admin-main-search my-4">
    <div class="row g-3 align-items-center">
      <div class="col-auto ms-auto">
        <label for="admin-search-item" class="col-form-label">Search</label>
      </div>
      <div class="col-auto">
        <input
          ng-model="keyword"
          type="text"
          id="admin-search-item"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="admin-category">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="fw-semibold">Role Name</th>
            <th class="fw-semibold">Role Img</th>
            <th class="fw-semibold">Phone</th>
            <th class="fw-semibold">Email</th>
            <th class="fw-semibold">Role</th>
            <th class="fw-semibold">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="align-middle"
            ng-repeat="role in roles | search:keyword:['name'] | limitTo:limit:begin"
          >
            <td>{{role.name}}</td>
            <td>
              <img
                src="{{role.img}}"
                alt=""
                width="80"
                height="80"
                class="border border-secondary rounded-2"
              />
            </td>
            <td>{{role.phone}}</td>
            <td>{{role.email}}</td>
            <td>{{role.position}}</td>
            <td>
              <div class="handle-option d-flex align-items-center gap-2">
                <ion-icon
                  ng-click="openEditRole(role)"
                  class="fs-5 text-info cursor"
                  name="create-outline"
                  data-bs-toggle="modal"
                  data-bs-target="#roleEdit"
                ></ion-icon>
                <ion-icon
                  ng-click="confirmDeleteRole(role)"
                  class="fs-5 text-danger cursor"
                  name="trash-outline"
                ></ion-icon>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <nav aria-label="..." class="d-flex justify-content-end">
    <ul class="pagination">
      <li class="page-item {{(page == 1) ? 'disabled':''}}">
        <button
          class="page-link text-border-color"
          ng-disabled="page === 1"
          ng-click="chuyentrang(page - 1)"
        >
          Previous
        </button>
      </li>

      <li
        ng-repeat="trang in totalListRole()"
        class="page-item"
        aria-current="page"
      >
        <button
          ng-class="{'active-color' :page==trang}"
          ng-click="chuyentrang(trang)"
          class="page-link text-border-color"
          href="#"
        >
          {{trang}}
        </button>
      </li>

      <li class="page-item {{(page == totalPageRole()) ? 'disabled':''}}">
        <button
          ng-disabled="page === totalPageRole()"
          ng-click="chuyentrang(page + 1)"
          class="page-link text-border-color"
          href="#"
        >
          Next
        </button>
      </li>
    </ul>
  </nav>
</div>

<!-- MODAL ADD ROLE  -->
<div
  class="modal fade"
  id="roleAdd"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Category</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mt-5 d-flex flex-column gap-3">
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Role name"
              >Role Name</label
            >
            <div class="col-9">
              <input
                ng-model="roleNew.name"
                type="text"
                class="form-control"
                id="Role name"
                placeholder="Role  Name"
              />
            </div>
          </div>
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="RoleId">Phone</label>
            <div class="col-9">
              <input
                ng-model="roleNew.phone"
                type="text"
                class="form-control"
                id="RoleId"
                placeholder="Phone Number"
              />
            </div>
          </div>
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Roleemail"
              >Role email</label
            >
            <div class="col-9">
              <input
                ng-model="roleNew.email"
                type="email"
                class="form-control"
                id="Roleemail"
                placeholder="Role Email"
              />
            </div>
          </div>
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Roleposition"
              >Role Position</label
            >
            <div class="col-9">
              <input
                ng-model="roleNew.position"
                type="text"
                class="form-control"
                id="Roleposition"
                placeholder="Role Position"
              />
            </div>
          </div>
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Userimg"
              >User Images</label
            >
            <div class="col-9">
              <input
                class="form-control"
                type="file"
                id="fileInput"
                accept="image/*"
                onchange="angular.element(this).scope().uploadImage(this)"
              />
            </div>
            <div class="col-9 ms-auto">
              <img ng-src="{{ userNew.img }}" alt="" width="150" height="150" />
            </div>
          </div>

          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Userimg"
              >User Description</label
            >
            <div class="col-9">
              <input
                ng-model="roleNew.password"
                type="password"
                class="form-control"
                id="Useremail"
                placeholder="User password"
                ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/"
              />
            </div>
          </div>
          <div class="btn-update ms-auto">
            <button
              ng-click="addRoleNew()"
              class="btn btn-outline-primary fw-medium"
            >
              Add Role
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL EDIT  -->
<div
  class="modal fade"
  id="roleEdit"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Category</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mt-5 d-flex flex-column gap-3">
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Role name"
              >Role Name</label
            >
            <div class="col-9">
              <input
                ng-model="roleNew.name"
                type="text"
                class="form-control"
                id="Role name"
                placeholder="Role  Name"
              />
            </div>
          </div>
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="RoleId">Phone</label>
            <div class="col-9">
              <input
                ng-model="roleNew.phone"
                type="text"
                class="form-control"
                id="RoleId"
                placeholder="Role Phone"
              />
            </div>
          </div>
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Roleemail"
              >Role email</label
            >
            <div class="col-9">
              <input
                ng-model="roleNew.email"
                type="email"
                class="form-control"
                id="Roleemail"
                placeholder="Role Email"
              />
            </div>
          </div>
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Roleposition"
              >Role Position</label
            >
            <div class="col-9">
              <input
                ng-model="roleNew.position"
                type="text"
                class="form-control"
                id="Roleposition"
                placeholder="Role Position"
              />
            </div>
          </div>
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Userimg"
              >User Images</label
            >
            <div class="col-9">
              <input
                class="form-control"
                type="file"
                id="fileInput"
                accept="image/*"
                onchange="angular.element(this).scope().uploadImage(this)"
              />
            </div>
            <div class="col-9 ms-auto">
              <img ng-src="{{ userNew.img }}" alt="" width="150" height="150" />
            </div>
          </div>

          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Userimg"
              >User Password</label
            >
            <div class="col-9">
              <input
                ng-model="roleNew.password"
                type="password"
                class="form-control"
                id="Useremail"
                placeholder="User password"
                ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/"
              />
            </div>
          </div>
          <div class="btn-update ms-auto">
            <button
              ng-click="EditRole()"
              class="btn btn-outline-primary fw-medium"
            >
              Add Role
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
