<div class="bg-light p-3 shadow-sm rounded-2">
  <div class="admin-main-header d-flex justify-content-between">
    <h3 class="admin-main-header-title fs-5 fw-bolder">All Blog</h3>
    <div class="admin-main-header-btn d-flex align-items-center">
      <button
        data-bs-toggle="modal"
        data-bs-target="#categoryAddUser"
        class="btn btn-primary text-white fw-medium d-flex align-items-center gap-2"
      >
        <ion-icon class="fs-5" name="add"></ion-icon>
        Add New
      </button>
    </div>
  </div>
  <div class="admin-main-search my-4">
    <div class="row g-3 align-items-center">
      <div class="col-auto ms-auto">
        <label for="admin-search-item" class="col-form-label">Search</label>
      </div>
      <div class="col-auto">
        <input
          ng-model="keyword"
          type="text"
          id="admin-search-item"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="admin-category">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="fw-semibold">User Name</th>
            <th class="fw-semibold">User Img</th>
            <th class="fw-semibold">Phone</th>
            <th class="fw-semibold">Email</th>
            <th class="fw-semibold">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="align-middle"
            ng-repeat="user in users | search:keyword:['name'] | limitTo:limit:begin"
          >
            <td>{{user.name}}</td>
            <td>
              <img
                src="{{user.img}}"
                alt=""
                width="80"
                height="80"
                class="border border-secondary rounded-2"
              />
            </td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>
              <div class="handle-option d-flex align-items-center gap-2">
                <ion-icon
                  ng-click="openEditUser(user)"
                  class="fs-5 text-info cursor"
                  name="create-outline"
                  data-bs-toggle="modal"
                  data-bs-target="#categoryEdit"
                ></ion-icon>
                <ion-icon
                  ng-click="confirmDeleteUser(user)"
                  class="fs-5 text-danger cursor"
                  name="trash-outline"
                ></ion-icon>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <nav aria-label="..." class="d-flex justify-content-end">
    <ul class="pagination">
      <li class="page-item {{(page == 1) ? 'disabled':''}}">
        <button
          class="page-link text-border-color"
          ng-disabled="page === 1"
          ng-click="chuyentrang(page - 1)"
        >
          Previous
        </button>
      </li>

      <li
        ng-repeat="trang in totalListUser()"
        class="page-item"
        aria-current="page"
      >
        <button
          ng-class="{'active-color' :page==trang}"
          ng-click="chuyentrang(trang)"
          class="page-link text-border-color"
          href="#"
        >
          {{trang}}
        </button>
      </li>

      <li class="page-item {{(page == totalPageUser()) ? 'disabled':''}}">
        <button
          ng-disabled="page === totalPageUser()"
          ng-click="chuyentrang(page + 1)"
          class="page-link text-border-color"
          href="#"
        >
          Next
        </button>
      </li>
    </ul>
  </nav>
</div>

<!-- MODAL ADD USER  -->
<div
  class="modal fade"
  id="categoryAddUser"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Category</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mt-5 d-flex flex-column gap-3">
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="User name"
              >User Name</label
            >
            <div class="col-9">
              <input
                ng-model="userNew.name"
                type="text"
                class="form-control"
                id="User name"
                placeholder="User  Name"
              />
            </div>
          </div>
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="UserId">Phone</label>
            <div class="col-9">
              <input
                ng-model="userNew.phone"
                type="text"
                class="form-control"
                id="UserId"
                placeholder="User Phone"
              />
            </div>
          </div>
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Useremail"
              >User email</label
            >
            <div class="col-9">
              <input
                ng-model="userNew.email"
                type="email"
                class="form-control"
                id="Useremail"
                placeholder="User Email"
              />
            </div>
          </div>
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Userimg"
              >User Images</label
            >
            <div class="col-9">
              <input
                class="form-control"
                type="file"
                id="fileInput"
                accept="image/*"
                onchange="angular.element(this).scope().uploadImage(this)"
              />
            </div>
            <div class="col-9 ms-auto">
              <img ng-src="{{ userNew.img }}" alt="" width="150" height="150" />
            </div>
          </div>

          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Userimg"
              >User Description</label
            >
            <div class="col-9">
              <input
                ng-model="userNew.password"
                type="password"
                class="form-control"
                id="Useremail"
                placeholder="User password"
                ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/"
              />
            </div>
          </div>
          <div class="btn-update ms-auto">
            <button
              ng-click="addUserNew()"
              class="btn btn-outline-primary fw-medium"
            >
              Add User
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL EDIT  -->
<div
  class="modal fade"
  id="categoryEdit"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Category</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mt-5 d-flex flex-column gap-3">
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="User name"
              >User Name</label
            >
            <div class="col-9">
              <input
                ng-model="userNew.name"
                type="text"
                class="form-control"
                id="User name"
                placeholder="User  Name"
              />
            </div>
          </div>
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="UserId">Phone</label>
            <div class="col-9">
              <input
                ng-model="userNew.phone"
                type="text"
                class="form-control"
                id="UserId"
                placeholder="User Phone"
              />
            </div>
          </div>
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Useremail"
              >User email</label
            >
            <div class="col-9">
              <input
                ng-model="userNew.email"
                type="email"
                class="form-control"
                id="Useremail"
                placeholder="User Email"
              />
            </div>
          </div>
          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Userimg"
              >User Images</label
            >
            <div class="col-9">
              <input
                class="form-control"
                type="file"
                id="fileInput"
                accept="image/*"
                onchange="angular.element(this).scope().uploadImage(this)"
              />
            </div>
            <div class="col-9 ms-auto">
              <img ng-src="{{ userNew.img }}" alt="" width="150" height="150" />
            </div>
          </div>

          <div class="input-group-item row g-3">
            <label class="col-3 fs-6 fw-medium" for="Userimg"
              >User Description</label
            >
            <div class="col-9">
              <input
                ng-model="userNew.password"
                type="password"
                class="form-control"
                id="Useremail"
                placeholder="User password"
                ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/"
              />
            </div>
          </div>
          <div class="btn-update ms-auto">
            <button
              ng-click="EditUser()"
              class="btn btn-outline-primary fw-medium"
            >
              Edit User
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
