<!-- SECTION TITLE  -->
<section class="section-title container-fluid bg-secondary mt-11">
  <div class="container py-4 d-flex align-items-center justify-content-between">
    <h2 class="fs-5 fw-bolder">Blog</h2>
    <span class="text-border-color"
      ><a class="text-decoration-none text-primary fw-medium" href="">Home</a> -
      Blog</span
    >
  </div>
</section>
<!-- BLOG DETAIL  -->
<div class="blog-detail-banner-main position-relative">
  <div class="blog-detail-banner position-relative container-fluid"></div>
  <div
    class="container blog-detail-title position-absolute bottom-0 start-50 translate-middle-x z-2"
  >
    <div class="row pb-5">
      <div class="col-lg-6 col-sm-12">
        <div class="blog-detail-title-content-left d-flex flex-column gap-3">
          <span class="text-white fw-medium"
            >Newsest Blog <span>| 4 month</span></span
          >
          <h3 class="text-white fw-medium">The Art of Home Transformation</h3>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div
          class="blog-detail-title-content-right d-flex justify-content-end align-items-center gap-2"
        >
          <img
            src="uploads/about-profile.png"
            alt=""
            width="40"
            height="40"
            class="rounded-circle"
          />
          <div class="info-write-blog">
            <span class="text-secondary fs-8 fw-normal">Written by</span>
            <h2 class="fs-6 text-white">Hoang Thong nha</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-7 blog-detail-main">
  <div class="row">
    <div class="col-lg-2 col-sm-12 wow fadeInLeft">
      <ul class="px-3 navbar-nav gap-3 position-sticky top-0">
        <li class="list-group-item">
          <span class="fs-6 fw-medium text-border-color">Date</span>
          <h3 class="fs-5">11 Jan 2024</h3>
        </li>
        <li class="list-group-item">
          <span class="fs-6 fw-medium text-border-color">Facebook</span>
          <h3 class="fs-5">HoangThong</h3>
        </li>
        <li class="list-group-item">
          <span class="fs-6 fw-medium text-border-color">Instagram</span>
          <h3 class="fs-5">Hoang Thong</h3>
        </li>
        <li class="list-group-item">
          <span class="fs-6 fw-medium text-border-color">Youtobe</span>
          <h3 class="fs-5">Hoang Thong</h3>
        </li>
      </ul>
    </div>
    <div class="col-lg-10 col-sm-12 wow fadeInRight">
      <div class="content px-7 d-flex flex-column gap-3">
        <h3 class="content-title fs-5 fw-semibold lh-base">
          In the fast-evolving world of home decor, embracing the art of
          transformation is the key to keeping your living spaces fresh,
          vibrant, and in tune with the latest trends. At StuffUs, we believe
          that your home is a canvas waiting to be adorned with innovation and
          style.
        </h3>
        <h2 class="fs-3">Introduction</h2>
        <span class="content-text fs-6 text-border-color lh-lg">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates
          provident aliquam quas? Ut repellat, voluptates dolores deleniti
          temporibus laborum cumque esse dolorem impedit quos laudantium quas
          velit aperiam, consequuntur accusamus? Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Voluptates provident aliquam quas? Ut
          repellat, voluptates dolores deleniti temporibus laborum cumque esse
          dolorem impedit quos laudantium quas velit aperiam, consequuntur
          accusamus?
        </span>
        <span class="content-text fs-6 text-border-color lh-lg">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates
          provident aliquam quas? Ut repellat, voluptates dolores deleniti
          temporibus laborum cumque esse dolorem impedit quos laudantium quas
          velit aperiam, consequuntur accusamus? Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Voluptates provident aliquam quas? Ut
          repellat, voluptates dolores deleniti temporibus laborum cumque esse
          dolorem impedit quos laudantium quas velit aperiam, consequuntur
          accusamus?
        </span>
        <img
          src="uploads/banner-blog.png"
          alt=""
          height="450"
          class="rounded-3"
        />
        <h2 class="fs-3">Introduction</h2>
        <span class="content-text fs-6 text-border-color lh-lg">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates
          provident aliquam quas? Ut repellat, voluptates dolores deleniti
          temporibus laborum cumque esse dolorem impedit quos laudantium quas
          velit aperiam, consequuntur accusamus? Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Voluptates provident aliquam quas? Ut
          repellat, voluptates dolores deleniti temporibus laborum cumque esse
          dolorem impedit quos laudantium quas velit aperiam, consequuntur
          accusamus?
        </span>
        <h2 class="fs-3">Introduction</h2>
        <span class="content-text fs-6 text-border-color lh-lg">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates
          provident aliquam quas? Ut repellat, voluptates dolores deleniti
          temporibus laborum cumque esse dolorem impedit quos laudantium quas
          velit aperiam, consequuntur accusamus? Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Voluptates provident aliquam quas? Ut
          repellat, voluptates dolores deleniti temporibus laborum cumque esse
          dolorem impedit quos laudantium quas velit aperiam, consequuntur
          accusamus?
        </span>
        <h2 class="fs-3">Introduction</h2>
        <span class="content-text fs-6 text-border-color lh-lg">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates
          provident aliquam quas? Ut repellat, voluptates dolores deleniti
          temporibus laborum cumque esse dolorem impedit quos laudantium quas
          velit aperiam, consequuntur accusamus? Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Voluptates provident aliquam quas? Ut
          repellat, voluptates dolores deleniti temporibus laborum cumque esse
          dolorem impedit quos laudantium quas velit aperiam, consequuntur
          accusamus?
        </span>
      </div>
      <div class="comment-blog-detail px-7">
        <div class="delivery p-4 my-5 border rounded-2">
          <div class="delivery-des-main">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link fw-medium active"
                  id="pills-home-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-home"
                  type="button"
                  role="tab"
                  aria-controls="pills-home"
                  aria-selected="true"
                  fdprocessedid="9xs2h"
                >
                  Infomation
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link fw-medium"
                  id="pills-profile-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-profile"
                  type="button"
                  role="tab"
                  aria-controls="pills-profile"
                  aria-selected="false"
                  fdprocessedid="4bs3ks"
                  tabindex="-1"
                >
                  Description
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link fw-medium"
                  id="pills-contact-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-contact"
                  type="button"
                  role="tab"
                  aria-controls="pills-contact"
                  aria-selected="false"
                  fdprocessedid="4lm3o5"
                  tabindex="-1"
                >
                  Review
                </button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="pills-home"
                role="tabpanel"
                aria-labelledby="pills-home-tab"
                tabindex="0"
              >
                <div class="content-info">
                  <div class="delivary-des my-5">
                    <p class="text-border-color fw-medium">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Error in vero sapiente odio, error dolore vero temporibus
                      consequatur, nobis veniam odit dignissimos consectetur
                      quae in perferendis doloribusdebitis corporis, eaque
                      dicta, repellat amet, illum adipisci vel perferendis
                      dolor! Quis vel consequuntur repellat distinctio rem.
                      Corrupti ratione alias odio, error dolore temporibus
                      consequatur, nobis veniam odit laborum dignissimos
                      consectetur quae vero in perferendis provident quis.
                    </p>
                  </div>
                  <h4
                    class="filter-category-title text-dark fs-5 my-3 pb-3 border-bottom border-secondary border-2"
                  >
                    Category
                  </h4>
                  <div class="delivary-des my-5">
                    <p class="text-border-color fw-medium">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Error in vero perferendis dolor! Quis vel consequuntur
                      repellat distinctio rem. Corrupti ratione alias odio,
                      error dolore temporibus consequatur, nobis veniam odit
                      laborum dignissimos consectetur quae vero in perferendis
                      provident quis.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="pills-profile"
                role="tabpanel"
                aria-labelledby="pills-profile-tab"
                tabindex="0"
              >
                <div class="content-des">
                  <div class="delivary-des my-5">
                    <p class="text-border-color fw-medium">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Error in vero sapiente odio, error dolore vero temporibus
                      consequatur, nobis veniam odit dignissimos consectetur
                      quae in perferendis doloribusdebitis corporis, eaque
                      dicta, repellat amet, illum adipisci vel perferendis
                      dolor! Quis vel consequuntur repellat distinctio rem.
                      Corrupti ratione alias odio, error dolore temporibus
                      consequatur, nobis veniam odit laborum dignissimos
                      consectetur quae vero in perferendis provident quis.
                    </p>
                  </div>
                  <h4
                    class="filter-category-title text-dark fs-5 my-3 pb-3 border-bottom border-secondary border-2"
                  >
                    Infomation Product
                  </h4>
                  <div class="deatail-list">
                    <ul class="list-group w-50 my-2 gap-3">
                      <li class="list-group-item border-0 d-flex gap-2 p-0">
                        <label class="fw-bolder" for=""
                          >Brand <span>:</span>
                        </label>
                        ESTA BETTERU CO
                      </li>
                      <li class="list-group-item border-0 d-flex gap-2 p-0">
                        <label class="fw-bolder" for=""
                          >Flavour <span>:</span>
                        </label>
                        Super Saver Pack
                      </li>
                      <li class="list-group-item border-0 d-flex gap-2 p-0">
                        <label class="fw-bolder" for=""
                          >Diet Type <span>:</span>
                        </label>
                        Vegetarian
                      </li>
                      <li class="list-group-item border-0 d-flex gap-2 p-0">
                        <label class="fw-bolder" for=""
                          >Weight<span>:</span>
                        </label>
                        200 Grams
                      </li>
                      <li class="list-group-item border-0 d-flex gap-2 p-0">
                        <label class="fw-bolder" for=""
                          >Info<span>:</span>
                        </label>
                        Egg Free, Allergen-Free
                      </li>
                      <li class="list-group-item border-0 d-flex gap-2 p-0">
                        <label class="fw-bolder" for=""
                          >Items<span>:</span>
                        </label>
                        1
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="pills-contact"
                role="tabpanel"
                aria-labelledby="pills-contact-tab"
                tabindex="0"
              >
                <h4
                  class="text-dark filter-category-title fs-5 my-3 pb-3 border-bottom border-secondary border-2"
                >
                  Recent comments
                </h4>
                <div
                  class="user-comment d-flex text-dark flex-column gap-4 mt-4"
                >
                  <div class="d-flex flex-start">
                    <img
                      class="rounded-circle shadow-1-strong me-3 quatity"
                      src="uploads/2.jpg"
                      alt="avatar"
                    />
                    <div>
                      <h6 class="fw-bold mb-1">Maggie Marsh</h6>
                      <div class="d-flex align-items-center gap-3 mb-3">
                        <p class="mb-0">March 07, 2021</p>
                        <div class="star fs-5 text-warning">
                          <ion-icon
                            name="star"
                            role="img"
                            class="md hydrated"
                          ></ion-icon
                          ><ion-icon
                            name="star"
                            role="img"
                            class="md hydrated"
                          ></ion-icon
                          ><ion-icon
                            name="star"
                            role="img"
                            class="md hydrated"
                          ></ion-icon>
                          <ion-icon
                            name="star"
                            role="img"
                            class="md hydrated"
                          ></ion-icon>
                          <ion-icon
                            name="star-half"
                            role="img"
                            class="md hydrated"
                          ></ion-icon>
                        </div>

                        <a href="#!" class="link-muted"
                          ><i class="fas fa-pencil-alt ms-2"></i
                        ></a>
                        <a href="#!" class="link-muted"
                          ><i class="fas fa-redo-alt ms-2"></i
                        ></a>
                        <a href="#!" class="link-muted"
                          ><i class="fas fa-heart ms-2"></i
                        ></a>
                      </div>
                      <p class="mb-0">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and
                        scrambled it.
                      </p>
                    </div>
                  </div>
                  <div class="d-flex flex-start">
                    <img
                      class="rounded-circle shadow-1-strong me-3 quatity"
                      src="uploads/2.jpg"
                      alt="avatar"
                    />
                    <div>
                      <h6 class="fw-bold mb-1">Maggie Marsh</h6>
                      <div class="d-flex align-items-center gap-3 mb-3">
                        <p class="mb-0">March 07, 2021</p>
                        <div class="star fs-5 text-warning">
                          <ion-icon
                            name="star"
                            role="img"
                            class="md hydrated"
                          ></ion-icon
                          ><ion-icon
                            name="star"
                            role="img"
                            class="md hydrated"
                          ></ion-icon
                          ><ion-icon
                            name="star"
                            role="img"
                            class="md hydrated"
                          ></ion-icon>
                          <ion-icon
                            name="star"
                            role="img"
                            class="md hydrated"
                          ></ion-icon>
                          <ion-icon
                            name="star-half"
                            role="img"
                            class="md hydrated"
                          ></ion-icon>
                        </div>

                        <a href="#!" class="link-muted"
                          ><i class="fas fa-pencil-alt ms-2"></i
                        ></a>
                        <a href="#!" class="link-muted"
                          ><i class="fas fa-redo-alt ms-2"></i
                        ></a>
                        <a href="#!" class="link-muted"
                          ><i class="fas fa-heart ms-2"></i
                        ></a>
                      </div>
                      <p class="mb-0">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and
                        scrambled it.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card border-0 p-0">
                  <div class="card-body p-4">
                    <div class="d-flex flex-start w-100">
                      <div class="w-100">
                        <h5>Add a comment</h5>
                        <div
                          class="profile d-flex gap-3 py-3 align-items-center"
                        >
                          <img
                            class="rounded-circle"
                            width="60"
                            src="uploads/1.jpg"
                            alt=""
                          />
                          <div
                            class="profile-right d-flex flex-column justify-content-center"
                          >
                            <h3 class="profile-name fs-5">Hoang Thong</h3>
                            <ul
                              class="rating mb-3 d-flex p-0"
                              data-mdb-toggle="rating"
                            >
                              <li class="list-group-item">
                                <ion-icon
                                  class="text-warning md hydrated"
                                  name="star-outline"
                                  role="img"
                                ></ion-icon>
                              </li>
                              <li class="list-group-item">
                                <ion-icon
                                  class="text-warning md hydrated"
                                  name="star-outline"
                                  role="img"
                                ></ion-icon>
                              </li>
                              <li class="list-group-item">
                                <ion-icon
                                  class="text-warning md hydrated"
                                  name="star-outline"
                                  role="img"
                                ></ion-icon>
                              </li>
                              <li class="list-group-item">
                                <ion-icon
                                  class="text-warning md hydrated"
                                  name="star-outline"
                                  role="img"
                                ></ion-icon>
                              </li>
                              <li class="list-group-item">
                                <ion-icon
                                  class="text-warning md hydrated"
                                  name="star-outline"
                                  role="img"
                                ></ion-icon>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="form-outline">
                          <textarea
                            class="form-control"
                            id="textAreaExample"
                            placeholder="What is your view?"
                            rows="4"
                          ></textarea>
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                          <button
                            type="button"
                            class="btn btn-primary fw-bolder text-white"
                          >
                            Send
                            <i class="fas fa-long-arrow-alt-right ms-1"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- BLOG DETAIL  -->
<!-- BLOG -->
<section class="blog container">
  <div class="blog-new">
    <h3 class="fs-5 pb-3 my-3">Hot news</h3>
    <div id="blog-new-detail" class="owl-carousel owl-theme">
      <div class="item wow fadeInUp mx-1">
        <div class="card-news">
          <div class="news-header px-0 rounded-3 overflow-hidden">
            <img
              class="img-cover rounded-3"
              src="uploads/banner-product2.jpg"
              alt="alt"
            />
          </div>
          <div class="news-body d-flex flex-column gap-1 pt-3">
            <div
              class="news-date text-border-color fs-6 fw-medium d-flex align-items-center gap-2"
            >
              <ion-icon name="calendar-outline" role="img" class=""></ion-icon
              ><span>10/09/2023</span>
            </div>
            <div class="news-title">
              <span class="text-color fw-semibold fs-6"
                >Lorem ipsum dolor sit amet consectetur adipisicing.
              </span>
            </div>
            <div class="news-des">
              <span
                class="text-dark fs-6 fw-normal text-truncate d-inline-block w-100"
              >
                Read up on Alan Wake 2, how video games scare you, a love letter
                to the chainsaw, and more in this month’s mausoleum of collected
                stories.</span
              >
            </div>
            <a class="mt-2 text-decoration-none" href="">
              <button class="button-news d-flex gap-2 align-items-center">
                <span class="text-primary fw-medium fs-6">READ MORE </span>
                <ion-icon
                  class="text-primary fz-h5 md hydrated"
                  name="arrow-forward"
                  role="img"
                ></ion-icon></button
            ></a>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp mx-1">
        <div class="card-news">
          <div class="news-header px-0 rounded-3 overflow-hidden">
            <img
              class="img-cover rounded-3"
              src="uploads/banner-product3.jpg"
              alt="alt"
            />
          </div>
          <div class="news-body d-flex flex-column gap-1 pt-3">
            <div
              class="news-date text-border-color fs-6 fw-medium d-flex align-items-center gap-2"
            >
              <ion-icon name="calendar-outline" role="img" class=""></ion-icon
              ><span>10/09/2023</span>
            </div>
            <div class="news-title">
              <span class="text-color fw-semibold fs-6"
                >Lorem ipsum dolor sit amet consectetur adipisicing.
              </span>
            </div>
            <div class="news-des">
              <span
                class="text-dark fs-6 fw-normal text-truncate d-inline-block w-100"
              >
                Read up on Alan Wake 2, how video games scare you, a love letter
                to the chainsaw, and more in this month’s mausoleum of collected
                stories.</span
              >
            </div>
            <a class="mt-2 text-decoration-none" href="">
              <button class="button-news d-flex gap-2 align-items-center">
                <span class="text-primary fw-medium fs-6">READ MORE </span>
                <ion-icon
                  class="text-primary fz-h5 md hydrated"
                  name="arrow-forward"
                  role="img"
                ></ion-icon></button
            ></a>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp mx-1">
        <div class="card-news">
          <div class="news-header px-0 rounded-3 overflow-hidden">
            <img
              class="img-cover rounded-3"
              src="uploads/banner-product4.jpg"
              alt="alt"
            />
          </div>
          <div class="news-body d-flex flex-column gap-1 pt-3">
            <div
              class="news-date text-border-color fs-6 fw-medium d-flex align-items-center gap-2"
            >
              <ion-icon name="calendar-outline" role="img" class=""></ion-icon
              ><span>10/09/2023</span>
            </div>
            <div class="news-title">
              <span class="text-color fw-semibold fs-6"
                >Lorem ipsum dolor sit amet consectetur adipisicing.
              </span>
            </div>
            <div class="news-des">
              <span
                class="text-dark fs-6 fw-normal text-truncate d-inline-block w-100"
              >
                Read up on Alan Wake 2, how video games scare you, a love letter
                to the chainsaw, and more in this month’s mausoleum of collected
                stories.</span
              >
            </div>
            <a class="mt-2 text-decoration-none" href="">
              <button class="button-news d-flex gap-2 align-items-center">
                <span class="text-primary fw-medium fs-6">READ MORE </span>
                <ion-icon
                  class="text-primary fz-h5 md hydrated"
                  name="arrow-forward"
                  role="img"
                ></ion-icon></button
            ></a>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp mx-1">
        <div class="card-news">
          <div class="news-header px-0 rounded-3 overflow-hidden">
            <img
              class="img-cover rounded-3"
              src="uploads/banner-product2.jpg"
              alt="alt"
            />
          </div>
          <div class="news-body d-flex flex-column gap-1 pt-3">
            <div
              class="news-date text-border-color fs-6 fw-medium d-flex align-items-center gap-2"
            >
              <ion-icon name="calendar-outline" role="img" class=""></ion-icon
              ><span>10/09/2023</span>
            </div>
            <div class="news-title">
              <span class="text-color fw-semibold fs-6"
                >Lorem ipsum dolor sit amet consectetur adipisicing.
              </span>
            </div>
            <div class="news-des">
              <span
                class="text-dark fs-6 fw-normal text-truncate d-inline-block w-100"
              >
                Read up on Alan Wake 2, how video games scare you, a love letter
                to the chainsaw, and more in this month’s mausoleum of collected
                stories.</span
              >
            </div>
            <a class="mt-2 text-decoration-none" href="">
              <button class="button-news d-flex gap-2 align-items-center">
                <span class="text-primary fw-medium fs-6">READ MORE </span>
                <ion-icon
                  class="text-primary fz-h5 md hydrated"
                  name="arrow-forward"
                  role="img"
                ></ion-icon></button
            ></a>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp mx-1">
        <div class="card-news">
          <div class="news-header px-0 rounded-3 overflow-hidden">
            <img
              class="img-cover rounded-3"
              src="uploads/banner-product3.jpg"
              alt="alt"
            />
          </div>
          <div class="news-body d-flex flex-column gap-1 pt-3">
            <div
              class="news-date text-border-color fs-6 fw-medium d-flex align-items-center gap-2"
            >
              <ion-icon name="calendar-outline" role="img" class=""></ion-icon
              ><span>10/09/2023</span>
            </div>
            <div class="news-title">
              <span class="text-color fw-semibold fs-6"
                >Lorem ipsum dolor sit amet consectetur adipisicing.
              </span>
            </div>
            <div class="news-des">
              <span
                class="text-dark fs-6 fw-normal text-truncate d-inline-block w-100"
              >
                Read up on Alan Wake 2, how video games scare you, a love letter
                to the chainsaw, and more in this month’s mausoleum of collected
                stories.</span
              >
            </div>
            <a class="mt-2 text-decoration-none" href="">
              <button class="button-news d-flex gap-2 align-items-center">
                <span class="text-primary fw-medium fs-6">READ MORE </span>
                <ion-icon
                  class="text-primary fz-h5 md hydrated"
                  name="arrow-forward"
                  role="img"
                ></ion-icon></button
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="last-post my-7">
    <h3 class="fs-5 pb-3 my-3 border-bottom border-secondary border-2">
      Last news
    </h3>
    <div class="row wow bounceInLeft">
      <div class="col-lg-12 col-md-6 py-3">
        <div class="card-news row d-flex align-items-center">
          <div class="col-lg-3 px-0 news-header rounded-3 overflow-hidden">
            <img
              class="img-cover rounded-3"
              src="uploads/banner-product2.jpg"
              alt="alt"
            />
          </div>
          <div class="col-lg-9 news-body d-flex flex-column gap-2 pt-3">
            <div
              class="news-date text-border-color fs-6 fw-medium d-flex align-items-center gap-2"
            >
              <ion-icon name="calendar-outline" role="img" class=""></ion-icon
              ><span>10/09/2023</span>
            </div>
            <div class="news-title">
              <span class="text-color fw-semibold fs-6"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
                voluptatibus quidem consequatur
              </span>
            </div>
            <div class="news-des">
              <span class="text-dark fs-6 fw-normal"
                >Read up on Alan Wake 2, how video games scare you, a love
                letter to the chainsaw, and more in this month’s mausoleum of
                collected stories.</span
              >
            </div>
            <a class="mt-2 text-decoration-none" href="">
              <button class="button-news d-flex gap-2 align-items-center">
                <span class="text-primary fw-medium fs-6">READ MORE </span>
                <ion-icon
                  class="text-primary fz-h5 md hydrated"
                  name="arrow-forward"
                  role="img"
                ></ion-icon></button
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-6 py-3">
        <div class="card-news row d-flex align-items-center">
          <div class="col-lg-3 news-header rounded-3 overflow-hidden px-0">
            <img
              class="img-cover rounded-3"
              src="uploads/banner-product2.jpg"
              alt="alt"
            />
          </div>
          <div class="col-lg-9 news-body d-flex flex-column gap-2 pt-3">
            <div
              class="news-date text-border-color fs-6 fw-medium d-flex align-items-center gap-2"
            >
              <ion-icon name="calendar-outline" role="img" class=""></ion-icon
              ><span>10/09/2023</span>
            </div>
            <div class="news-title">
              <span class="text-color fw-semibold fs-6"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
                voluptatibus quidem consequatur
              </span>
            </div>
            <div class="news-des">
              <span class="text-dark fs-6 fw-normal"
                >Read up on Alan Wake 2, how video games scare you, a love
                letter to the chainsaw, and more in this month’s mausoleum of
                collected stories.</span
              >
            </div>
            <a class="mt-2 text-decoration-none" href="">
              <button class="button-news d-flex gap-2 align-items-center">
                <span class="text-primary fw-medium fs-6">READ MORE </span>
                <ion-icon
                  class="text-primary fz-h5 md hydrated"
                  name="arrow-forward"
                  role="img"
                ></ion-icon></button
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-6 py-3">
        <div class="card-news row d-flex align-items-center">
          <div class="col-lg-3 news-header rounded-3 overflow-hidden px-0">
            <img
              class="img-cover rounded-3"
              src="uploads/banner-product2.jpg"
              alt="alt"
            />
          </div>
          <div class="col-lg-9 news-body d-flex flex-column gap-2 pt-3">
            <div
              class="news-date text-border-color fs-6 fw-medium d-flex align-items-center gap-2"
            >
              <ion-icon name="calendar-outline" role="img" class=""></ion-icon
              ><span>10/09/2023</span>
            </div>
            <div class="news-title">
              <span class="text-color fw-semibold fs-6"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
                voluptatibus quidem consequatur
              </span>
            </div>
            <div class="news-des">
              <span class="text-dark fs-6 fw-normal"
                >Read up on Alan Wake 2, how video games scare you, a love
                letter to the chainsaw, and more in this month’s mausoleum of
                collected stories.</span
              >
            </div>
            <a class="mt-2 text-decoration-none" href="">
              <button class="button-news d-flex gap-2 align-items-center">
                <span class="text-primary fw-medium fs-6">READ MORE </span>
                <ion-icon
                  class="text-primary fz-h5 md hydrated"
                  name="arrow-forward"
                  role="img"
                ></ion-icon></button
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-6 py-3">
        <div class="card-news row d-flex align-items-center">
          <div class="col-lg-3 news-header rounded-3 overflow-hidden px-0">
            <img
              class="img-cover rounded-3"
              src="uploads/banner-product2.jpg"
              alt="alt"
            />
          </div>
          <div class="col-lg-9 news-body d-flex flex-column gap-2 pt-3">
            <div
              class="news-date text-border-color fs-6 fw-medium d-flex align-items-center gap-2"
            >
              <ion-icon name="calendar-outline" role="img" class=""></ion-icon
              ><span>10/09/2023</span>
            </div>
            <div class="news-title">
              <span class="text-color fw-semibold fs-6"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
                voluptatibus quidem consequatur
              </span>
            </div>
            <div class="news-des">
              <span class="text-dark fs-6 fw-normal"
                >Read up on Alan Wake 2, how video games scare you, a love
                letter to the chainsaw, and more in this month’s mausoleum of
                collected stories.</span
              >
            </div>
            <a class="mt-2 text-decoration-none" href="">
              <button class="button-news d-flex gap-2 align-items-center">
                <span class="text-primary fw-medium fs-6">READ MORE </span>
                <ion-icon
                  class="text-primary fz-h5 md hydrated"
                  name="arrow-forward"
                  role="img"
                ></ion-icon></button
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <nav aria-label="Page navigation example ">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link text-dark" href="#">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link text-dark" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link text-dark active-color" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link text-dark" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link text-dark" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    $("#blog-new-detail").owlCarousel({
      rtl: true,
      loop: true,
      margin: 10,
      nav: true,
      items: 4,
      responsive: {
        0: {
          items: 1,
        },
        600: {
          items: 2,
        },
        1000: {
          items: 3,
        },
      },
    });
  });
</script>
