<!-- SECTION TITLE  -->
<section class="section-title container-fluid bg-secondary mt-11">
  <div class="container py-4 d-flex align-items-center justify-content-between">
    <h2 class="fs-5 fw-bolder">Account</h2>
    <span class="text-border-color"
      ><a class="text-decoration-none text-primary fw-medium" href="">Home</a> -
      Account</span
    >
  </div>
</section>
<!-- About -->
<section class="account-header container mt-7">
  <div class="account-profile">
    <div class="account-profile-img overflow-hidden">
      <img src="uploads/account.JPG" alt="" class="rounded-circle img-cover" />
    </div>
    <div class="account-profile-info mt-1">
      <h2 class="name fs-5">Hoang Thong nè!</h2>
      <span class="date fs-6 text-border-color"
        >Carrot Member Since Sep 2022</span
      >
    </div>
  </div>
</section>
<section class="account-main container my-5">
  <div class="row g-5">
    <div class="col-lg-3 col-sm-12 col-12 wow fadeInLeft">
      <div
        class="account-nav p-5 border border-2 rounded-2 position-sticky top-0 border-secondary"
      >
        <ul class="p-0 d-flex flex-column gap-3">
          <li
            class="cursor account-list list-group-item d-flex align-items-center gap-3 fs-6 fw-medium text-border-color active-nav-account py-1 rounded-2 px-3"
          >
            <ion-icon name="grid"></ion-icon>
            Dashboard
          </li>
          <li
            class="cursor account-list list-group-item d-flex align-items-center gap-3 fs-6 fw-medium text-border-color py-1 rounded-2 px-3"
          >
            <ion-icon name="cart"></ion-icon>
            My order
          </li>
          <li
            class="cursor account-list list-group-item d-flex align-items-center gap-3 fs-6 fw-medium text-border-color py-1 rounded-2 px-3"
          >
            <ion-icon name="home"></ion-icon>
            Address
          </li>
          <li
            class="cursor account-list list-group-item d-flex align-items-center gap-3 fs-6 fw-medium text-border-color py-1 rounded-2 px-3"
          >
            <ion-icon name="person"></ion-icon>
            Account
          </li>
          <li
            class="cursor account-list list-group-item d-flex align-items-center gap-3 fs-6 fw-medium text-border-color py-1 rounded-2 px-3"
          >
            <ion-icon name="log-out"></ion-icon>
            Logout
          </li>
        </ul>
      </div>
    </div>
    <div
      class="col-lg-9 col-sm-12 col-12 wow fadeInRight p-5 border border-2 rounded-2 border-secondary"
    >
      <div class="account-content">
        <span
          >Hello <span>Hoang Thong</span>
          <span class="fw-medium">Not Hoang Thong</span>
          <a href="">Logout</a></span
        >
        <p class="w-50 text-border-color mt-2">
          From your account dashboard you can view your recent orders, manage
          your shipping and billing addresses, and edit your password and
          account details
        </p>
      </div>
    </div>
  </div>
</section>
